{% extends "base.html" %} {% block title %}Create Group{% endblock %} {% block
    content %}
    <form method="POST">
      <h3 align="center">Create Group</h3>
      <div class="form-group">
        <label>Group Name</label>
        <input
          type="text"
          class="form-control"
          id="groupName"
          name="groupName"
          placeholder="Enter Gropu Name"
        />
      </div>
      <br />
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    {% endblock %}