{% extends "base.html" %} {% block title %}Create User{% endblock %} {% block
    content %}
    <form method="POST">
      <h3 align="center">Create User</h3>
      <div class="form-group">
        <label for="email">Email Address</label>
        <input
          type="email"
          class="form-control"
          id="email"
          name="email"
          placeholder="Enter email"
        />
      </div>
      <div class="form-group">
        <label for="password1">Password</label>
        <input
          type="password"
          class="form-control"
          id="password1"
          name="password1"
          placeholder="Enter password"
        />
      </div>
      <div class="form-group">
        <label for="password2">Password (Confirm)</label>
        <input
          type="password"
          class="form-control"
          id="password2"
          name="password2"
          placeholder="Confirm password"
        />
      </div>
      <br />
      {% if groups %}
        <table class="table table-striped table-bordered table-hover table-condensed">
          <tr>
            <th>Group ID</th>
            <th>Group Name</th>
            <th>Select</th>
          </tr>
          {% for group in groups %}
            <tr>
              <td>{{ group.id }}</td>
              <td>{{ group.name }}</td>
              <td><input type="checkbox" name=groups value="{{ group.id }}"
                ></td>
            </tr>
          {% endfor %}
        </table>
      {% endif %}
      <br>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    {% endblock %}